---
These comment start and stop things must be here for the theme to use the css statements below.
I find this strange, but whatever.
And the import statement must also be there, to ensure the theme is 
imported before the css modifications is done.
---

@import "{{ site.theme }}";

body {
  margin: 2% 2% 2% 2%;
  background-color: #D8D6D2;
}

.outerFrame {
  padding: 0px 0px 0% 0px;
  margin: 10px 1px 10px 0px;
  background: white;
  border-radius: 10px;
  float: right;
  width:100%;
}

.innerFrame{
  background-color: #D8D6D2;
  border-radius: 10px;
  margin: 2% 2% 2% 2%;
  padding: 2%;
  width: 96%;
}


