

body {
  margin: 2% 2% 2% 2%;
  background-color: #D8D6D2;
}

.outerFrame {
  padding: 0px 0px 0% 0px;
  margin: 10px 1px 10px 0px;
  background: white;
  border-radius: 10px;
  float: right;
  width:100%;
}

.innerFrame{
  background-color: #D8D6D2;
  border-radius: 10px;
  margin: 2% 2% 2% 2%;
  padding: 2%;
  width: 96%;
}


