---
---

@import "{{ site.theme }}";

.site-title {
  pointer-events: none;
  cursor: default;
  display: none;
}

.site-title[href] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  display: none;
}

